<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">

        <button type="button" class="btn btn-secondary" disabled="@(CurrentPage==1)" @onclick="@(()=>ChangePage(CurrentPage-1))">
            Previous
        </button>

        @if (CurrentPage > 4)
        {
            <button class="btn btn-secondary" @onclick="() => ChangePage(1)">1</button>
            <button class="btn btn-secondary" disabled>...</button>
        }

        @for (int i = Math.Max(1, CurrentPage-2);i<=Math.Min(NumberPages, CurrentPage+2); i++)
        {
            <button class="@(i==CurrentPage? "selected":"") btn btn-secondary" @onclick="@(()=>ChangePage(i))">
                @i
            </button>
        }
        @if (CurrentPage + 2 < NumberPages - 1)
        {
            <button class="btn btn-secondary" disabled>...</button>
            <button class="btn btn-secondary" @onclick="() => ChangePage(NumberPages)">@NumberPages</button>
        }
        <button type="button" class="btn btn-secondary" disabled="@(CurrentPage==NumberPages)" @onclick="@(()=>ChangePage(CurrentPage +1))">
            Next
        </button>
    </div>
    <form class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupItem"></label>
            <div class="input-group">
                <div class="input-group-text">Items Per Page</div>
                <select type="text" class="form-control" id="inlineFormInputGroupItem" @onchange="e =>ChangeItemsPerPage(Convert.ToInt32(e.Value))">
                    @for (var i = 10; i <= 50; i += 10)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>
    </form>
</div>
<br/>
<h5>Total Items: @TotalItems</h5>

